Don't abort associations on unexpected Ack

Am I reading RFC 4960 wrong?

```
diff --git a/association.go b/association.go
index a65188d..b77daff 100644
--- a/association.go
+++ b/association.go
@@ -729,7 +729,8 @@ func (a *Association) handleChunk(p *packet, c chunk) ([]*packet, error) {
                        a.setState(cookieEchoed)
                        return pack(r), nil
                default:
-                       return nil, errors.Errorf("TODO Handle Init acks when in state %s", a.state.String())
+                       // RFC 4960 Section 5.2.3
+                       return nil, nil
                }
 
        case *chunkAbort:
@@ -778,7 +779,8 @@ func (a *Association) handleChunk(p *packet, c chunk) ([]*packet, error) {
                        close(a.handshakeCompletedCh)
                        return nil, nil
                default:
-                       return nil, errors.Errorf("TODO Handle Init acks when in state %s", a.state.String())
+                       // RFC 4960 Section 5.2.5
+                       return nil, nil
                }
 
                // TODO Abort
```